@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&family=Inter:wght@300;400;600;700&family=Outfit:wght@300;500;700&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* html, body {
  width: 100vw;
  height: 100vh;
  position: relative;
} */

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

li {
  list-style: none;
}

h1 {
  font-family: "Outfit", sans-serif;
  color: #fff;
}

/*******loading container ****************/
.pre-loader {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0% 0% 100% 0, 100% 100%, 0% 100%)
}
.loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
}

.loader-content {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-x: hidden;
  transform: translate(-50%, -50%);
  display: flex;
  width: 400px;
  z-index: 2;
  color: #fff;
}
.count {
  flex: 2;
  text-align: right;
  line-height: 1;
  padding: 0 1em;
}

.copy {
  flex: 6;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1;
}
.ali6 {
  overflow: hidden;
}
.ali6 .letter {
  display: inline-block;
  line-height: 1em;
}
.loader-bg {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: rgb(20, 10, 50);
  z-index: -1;
}
.loader-2 {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: #000 no-repeat 50% 50%;
  background-size: cover;
  z-index: -1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.site-content {
  position: relative;
  z-index: -2;
  overflow: hidden;
  width: 100vw;
}
@media (max-width: 486px) { 
  .loader-content {
    width: 100%;
  }
  .copy {
    font-size: 1.5rem;
   }
}

/*******loading container ****************/

.container {
  display: flex;
  height: 100vh;
  height: 100dvh;
  padding-inline: 3px;

  outline: 1px solid #987D9A;
  justify-content: space-evenly;
  flex-direction: column;
  background-image: url("./04.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.canva-design {
  position: relative;
  width: 95vw;
  margin-inline: auto;
  margin-block: 1rem;
  height: 0;
  padding-top: 56.2225%;
  padding-bottom: 0;
  box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  margin-top: 1.6em;
  margin-bottom: 0.9em;
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
}

.waiting-btn {
  width: 80vw;
  background-color: #E9C46A;
  margin-inline: auto;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding-block: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  font-size: 1.35rem;
}

.waiting-btn:hover {
  outline: 3px solid #9CDBA6;
  background: #468585;
  color: white;
}

.site-header {
  padding-left: 70px;
}

.nav-cols {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.nav-links {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  /* grid-template-columns: 100%;
    grid-template-rows: 1fr; */
}

.links-list {
  position: relative;
  justify-self: start;
  align-self: start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.links-list>li {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  transition: color 3s ease-in;
}

.links-list>li>a {
  color: whitesmoke;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

.links-list>li>a>p {
  line-height: 30px;
  text-align: right;
  color: white;
  padding: 0 10px;
}

.links-list>li:nth-child(1)>a>p {
  line-height: 30px;
  text-align: right;
  color: #ff7fe8;

}

.links-list>li:hover>a>p {
  color: #ff7fe8;
}

.search-input {
  padding-top: 7px;
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.search {
  width: 150px;
  margin-right: 1rem;
  height: 40px;
  color: #ffffff;
  border-color: white;
  overflow: hidden;
}

.mesh-container {
  overflow: hidden;
}

.video-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  /* transform: translate3d(0px, -76.6668px, 22.0942px); */
}

.video-container>video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
}

.hero-inline {
  height: 100%;
  width: 100%;
  display: flex;
  pointer-events: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.mesh-container-cont {
  display: grid;
  height: auto;
  width: 100%;
  overflow: hidden;
  grid-template-columns: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}

.hero-header {
  left: 13px;
  min-height: 38px;
  padding-top: 100px;
}

.hero-header>h1 {
  font-family: 'Garamond', sans-serif;
  font-weight: 400;
  font-size: 70px;
  text-align: center;
  max-width: 65%;
  margin-inline: auto;
  margin-bottom: 8px;
}

.hero-desc {
  margin: 0 0 10px 0;
}

.hero-desc>p {
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-family: 'Outfit', serif;
  font-weight: 500;
  max-width: 50%;
  margin-inline: auto;
  margin-top: 8px;
}

.hero-img {
  width: 100%;
  height: 100%;
  padding-top: 15%;
}

.hero-img-bg {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.hero-img-bg>img {
  border-radius: 500px 500px 0 0;
}

.search>form {
  padding: 0 10px;
}

.search-icon {
  cursor: text;
  margin-block: auto;
  padding-right: .45rem;
  flex-shrink: 0;
  height: .9em;
  max-height: 50px;
  min-height: 14px;
  min-width: 14px;
  width: .9em;
}

#search-box {
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
}

.search>form {
  display: flex;
}

.menu {
  display: none;
}

/* about us */
section.about-us {
  background: linear-gradient(90deg, #5a71e7 0%, rgb(20, 10, 50) 100%);
  color: #fff;
  font-family: "Inter", sans-serif;
}

.about-inline {
  display: grid;
  width: 100%;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}

.about-columns {
  flex-direction: row;
  width: calc(100% - 86px - 86px);
  padding: 96px 0 96px 0;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
}

.about-pic-1>.img-1 {
  object-position: center;
  border-radius: 500px 500px 0px 0px;
  ;
}

.about-pic-2 {
  position: relative;
  margin-top: -30%;
  left: 245px;
}

.about-txt {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, min-content) 1fr;
  max-width: 500px;
}

.about-txt>h2,
.notion,
.insta-title>h2,
.news-heading>h2 {
  margin: 0;
  color: #fff;
  font-size: 5rem;
  font-family: "EB Garamond", serif;
}

.about-txt>.about-sub {
  font-weight: 500;
  font-size: 24px;
}

.about-txt>.about-desc {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25rem;
}

.news-heading {
  margin-bottom: 1.5rem;
  position: relative;
  font-family: 'EB Garamond', serif;
}

.news-heading>.gradient {
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: 'Outfit', sans-serif;
  opacity: 0.1;
  color: #f7b3ea;
  font-size: 7rem;
  transform: translateY(-20%);
  padding: 0;
  margin: 0;
}

.blurbs-card {
  outline: 1px solid rgb(255, 127, 232);
  display: flex;
  margin-bottom: 3rem;
  margin-inline: auto;
  width: calc(90% - 70px - 70px);
  border-radius: 5px;
  background: transparent;
  transition: outline .3s ease, background .5s .25s ease;
}

.blurbs-card:hover {
  outline: none;
  background: rgba(255, 127, 232, 0.1);
}

.article-card {
  min-width: 380px;
  max-width: 500px;
  height: 380px;
  margin-block: auto;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.articlee {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-inline: 2.25rem;
  padding-block: 1.5rem;
}

.author {
  font-size: 20px;
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}

.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.main>.main-link:hover {
  color: #f7b3ea;
}

.main>.main-link {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
  font-size: 32px;
  color: white;
  width: 90%;
  flex: 1 1 auto;
  margin-block: 0px;
  transition: color .5s ease;
}

.main>.main-link>p {
  margin-block: 8px;
}

.main>.main-desc {
  font-size: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

.main>.main-desc>p {
  word-break: break-word;
  overflow: hidden;
  line-height: 1.5;
  height: 100%;
  flex-grow: 1;
}

.likes {
  margin-top: auto;
  padding-top: 12px;
}

.likes>.line {
  height: 1px;
  display: block;
  opacity: 0.28;
  background-color: #f7b3ea;
  margin-bottom: 15px;
}

.likes>.likes-container {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.likes-container>.views-span {
  display: flex;
  margin-inline-end: 16px;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
}

.likes-container>.likes-span * {
  margin: 0;
}

.likes-container>.likes-span {
  display: flex;
  align-items: flex-start;
  margin: 0;
}

.like-count {
  padding-inline-end: 5px;
  font-size: 16px;
  padding-block: 3px;
}

.likes-svg>svg {
  position: relative;
  fill: rgba(0, 0, 0, 0);
  stroke: #e84a43;
  stroke-width: 1.5px;
  transition: fill 250ms;
}

.insta-widget {
  background: linear-gradient(360deg, #498eb1 0%, rgb(20, 10, 50) 100%);
  color: #fff;
  font-family: "Inter", sans-serif;
}

.insta-title>h2 {
  margin-block: 0;
  padding-block: 2rem;
  text-align: center;
}

.gallery {
  display: grid;
  margin-inline: auto;
  gap: 1rem;
  padding-block: 2rem;
  width: calc(100% - 70px - 70px);
  grid-template-columns: repeat(4, 1fr);
}

.gallery-items {
  position: relative;
  margin-inline: auto;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
}

.gallery-img>img {
  object-fit: cover;
  object-position: center;
  width: 232px;
  height: 231px;
  border-radius: 5px;
}

.gallery-hover {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 14px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 232px;
  height: 232px;
  padding-inline: 0;
  filter: opacity(0);
  text-align: center;
  transition: filter 0.4s ease, opacity 0.4s ease-in-out;
}

.gallery-hover:hover {
  background: rgba(8, 8, 8, .8);
  filter: opacity(1);
  opacity: 1;
}

footer {
  padding: 96px 0 0 0;
}

.copyright {
  display: flex;
  font-family: 'Outfit', sans-serif;
  padding-bottom: 1rem;
  cursor: pointer;
}

.copyright>a {
  width: 100%;
  color: #fff;
}

@media (max-width: 1110px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 841px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-txt>h2,
  .notion,
  .insta-title>h2,
  .news-heading>h2 {
    font-size: 4.14rem;
  }
}

@media (max-width: 613px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    width: calc(100% - 1rem - 1rem);
  }


}

@media (max-width: 782px) {
  .links-list>li>a {
    font-size: 16px;
  }

  .main-link>p {
    width: 100%;
    max-width: unset;
  }

  .site-header {
    padding-inline: 15px;
  }

  .nav-cols {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-links {
    justify-content: center;
    display: none;
    transition: opacity 5s ease-in;
  }

  .search {
    display: none;
  }

  /* .canva-design {} */
  .menu {
    display: block;
  }

  .visible {
    display: flex;
    justify-content: center
  }
}

@media (max-width: 467px) {
  .links-list {
    flex-direction: column;
    align-items: center;
  }

  .hero-header>h1 {
    font-size: 55px;
    max-width: 80%;
  }

  .hero-desc>p {
    font-size: 20px;
    max-width: 90%;
  }

  .hero-img-bg>img {
    width: 400px;
  }

  /* .article-card {
        height: 300px;
    } */
  .cards>.blurbs-card {
    width: calc(100% - 20px - 20px);
  }

  .about-columns {
    width: calc(100% - 25px - 25px);
  }

  .main .main-link>p {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
  }

  .articlee {
    padding-inline: 1rem;
    padding-block: 1rem;
  }
}

@media (max-width: 1024px) {
  .article-card {
    margin-block: auto;
  }
}

@media (max-width: 892px) {
  .blurbs-card {
    flex-direction: column;
  }

  .article-card {
    margin-block: auto;
    margin-inline: auto;
    width: 100%;
  }

  .about-columns {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .news-heading>.gradient {
    font-size: 6rem;
  }
  .about-pic-2 {
    left: 0;
    margin-inline: auto;
  }
}

@media (max-width: 581px) {
  .about-pictures>.about-inline>.about-pic-2 {
    left: 29%;
  }

  .about-pictures>.about-inline>.about-pic-1 > img {
    width: 250px !important;
    height: 300px !important;
    border-radius: 7px;
  }

  .about-pictures>.about-inline>.about-pic-2 > img {
    width: 150px !important;
    height: 170px !important;
    border-radius: 0 30px 30px 35px;
  }

  .news-heading>.gradient {
    font-size: 5.2rem;
  }

  .article-card {
    max-width: 380px;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
  }

  .blurbs-card {
    width: calc(100% - 70px - 70px);
  }

}

@media (min-width: 1024px) {
  .container {
    height: 100%;
    padding-bottom: .75rem;
  }

  /* .canva-design {} */
}